/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Open Sans', Arial, sans-serif;
    min-height: 740px;

    -webkit-font-smoothing: antialiased;
}

.background {
  position: fixed;
	height: 100%;
	width: 100%;
  background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #ccc);
  background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#ccc));
  z-index: 0;
  opacity: 1;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: #333;
    text-decoration: none;
    padding: 0.1em 0.2em;
    background: rgba(0,0,0,0.1);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(0,0,0,0.2);
}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: none; }
#impress { pointer-events: auto; }

/* COMMON STEP STYLES */

.step {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.5;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

/* STEP SPECIFIC STYLES */

/* hint on the first slide */

.hint {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    
    font-size: 16px;
    padding: 8px;
    font-weight: 300;
    
    z-index: 100;
    
    opacity: 0;
    
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-what-is-dash .hint {
    opacity: 1;
    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;
    
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

/* step content */

#what-is-dash {
  text-align: center;
}

#what-is-dash a, #what-is-dash a:hover {
  background: none;
}

#what-is-dash p {
  font-weight: 800;
  font-size: 180px;
  line-height: 160px;
  text-transform: uppercase;
  color: #333;
  padding-top: 90px;
}

#overwhelmed-by-web-apps img {
  position: absolute;
  
  
}

#overwhelmed-by-web-apps p {
  margin-top: -350px;
}

#overwhelmed-by-web-apps img {
  display: inline-block;
  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
  -webkit-transform: scale(0.7);
  -moz-transform:    scale(0.7);
  -ms-transform:     scale(0.7);
  -o-transform:      scale(0.7);
  transform:         scale(0.7);
}

#overwhelmed-by-web-apps .basecamp {
  top: -50px;
  left: 30px;
}

#overwhelmed-by-web-apps .desk {
  top: 100px;
  left: 170px;
}

#overwhelmed-by-web-apps .dropbox {
  top: -10px;
  left: 320px;
}

#overwhelmed-by-web-apps .evernote {
  top: 80px;
  left: 500px;
}

#overwhelmed-by-web-apps .freshbooks {
  top: -60px;
  left: 680px;
}

#overwhelmed-by-web-apps .gmail {
  top: 220px;
  left: 40px;
}

#overwhelmed-by-web-apps .highrise {
  top: 270px;
  left: 220px;
}

#overwhelmed-by-web-apps .mailchimp {
  top: 200px;
  left: 380px;
}

#overwhelmed-by-web-apps .tracker {
  top: 280px;
  left: 580px;
}

#overwhelmed-by-web-apps .xero {
  top: 160px;
  left: 760px;
}

#overwhelmed-by-web-apps.present .scaling {
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform:         scale(1);

  -webkit-transition-delay: 0.5s;
  -moz-transition-delay:    0.5s;
  -ms-transition-delay:     0.5s;
  -o-transition-delay:      0.5s;
  transition-delay:         0.5s;
}

#overwhelmed-by-web-apps.present .scaling-delay {
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform:         scale(1);

  -webkit-transition-delay: 0.8s;
  -moz-transition-delay:    0.8s;
  -ms-transition-delay:     0.8s;
  -o-transition-delay:      0.8s;
  transition-delay:         0.8s;
}

#one-single-place {
  margin-top: -60px;
}

#one-single-place p {
  font-size: 80px;
  line-height: 100px;
  text-align: center;
}

#one-single-place p strong {
  text-transform: uppercase;
}

#try {
  text-align: center;
  line-height: 150px;
  font-size: 68px;
  margin-top: -100px;
  
  text-transform: uppercase;
}

#try .try-title {
  font-size: 280px;
  font-weight: 800;
}

#super-powered-launcher {
  font-size: 55px;
  margin-top: -50px;
}

#web-application-launcher, #web-apps-search, #perform-actions, #browse-activities, #apps-communication {
  text-align: center;
}

#web-application-launcher p, #web-apps-search p, #perform-actions p, #browse-activities p, #apps-communication p {
  font-size: 40px;
  margin-bottom: 20px;
  
}

#web-application-launcher p.small, #web-apps-search p.small, #perform-actions p.small {
  font-size: 24px;
}

#one-more-thing p {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: -100px;
}

#overview p {
  text-align: center;
  font-size: 120px;
  line-height: 120px;
  font-weight: 800;
  text-transform: uppercase;
}

/* overview step */

#overview {
    z-index: 999;
    padding: 0;
}

/* on overview step everything is visible */

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
    display: block;

    width: 900px;
    height: 700px;

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);

    font-family: 'Open Sans', Arial, sans-serif;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;

    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

